
<br>
<br>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>ISBN</mat-label>
      <input matInput [(ngModel)]="ISBN" [(ngModel)]= "newBook.isbn" name="ISBN">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="newBook.title" name="title">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Author</mat-label>
        <input matInput [(ngModel)]="newBook.author" name="author">
      </mat-form-field></td>
    </tr></table>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="newBook.desc" name="desc">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Cover Image</mat-label>
      <input matInput [(ngModel)]="newBook.cover" name="cover">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Purchase Link</mat-label>
        <input matInput [(ngModel)]="newBook.buy" name="buy">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Author Website</mat-label>
        <input matInput [(ngModel)]="newBook.bio" name="bio">
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
      <mat-label>Tag 1 (Genre)</mat-label>
      <mat-select [(value)]="newBook.tag1">
        <mat-option>None</mat-option>
        <mat-option value="Classics">Classics</mat-option>
        <mat-option value="Contemporary">Contemporary</mat-option>
        <mat-option value="Fantasy">Fantasy</mat-option>
        <mat-option value="Horror">Horror</mat-option>
        <mat-option value="Literary">Literary</mat-option>
        <mat-option value="Romance">Romance</mat-option>
        <mat-option value="Science Fiction">Science Fiction</mat-option>
        <mat-option value="Young Adult">Young Adult</mat-option>
      </mat-select>
    </mat-form-field> </td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Tag 2 (Mood or Second Genre)</mat-label>
      <mat-select [(value)]="newBook.tag2">
        <mat-option>None</mat-option>
        <mat-option value="Adventurous">Adventurous</mat-option>
        <mat-option value="Challenging">Challenging</mat-option>
        <mat-option value="Dark">Dark</mat-option>
        <mat-option value="Emotional">Emotional</mat-option>
        <mat-option value="Funny">Funny</mat-option>
        <mat-option value="Hopeful">Hopeful</mat-option>
        <mat-option value="Lighthearted">Lighthearted</mat-option>
        <mat-option value="Mysterious">Mysterious</mat-option>
        <mat-option value="Reflective">Reflective</mat-option>
        <mat-option value="Sad">Sad</mat-option>
        <mat-option value="Tense">Tense</mat-option>
        <mat-option value="Classics">Classics</mat-option>
        <mat-option value="Contemporary">Contemporary</mat-option>
        <mat-option value="Fantasy">Fantasy</mat-option>
        <mat-option value="Horror">Horror</mat-option>
        <mat-option value="Literary">Literary</mat-option>
        <mat-option value="Romance">Romance</mat-option>
        <mat-option value="Science Fiction">Science Fiction</mat-option>
        <mat-option value="Young Adult">Young Adult</mat-option>
      </mat-select>
    </mat-form-field></td>
  </tr></table>

    <mat-form-field>
      <mat-label>Tag 3 (Mood)</mat-label>
      <mat-select [(value)]="newBook.tag3">
        <mat-option>None</mat-option>
        <mat-option value="Adventurous">Adventurous</mat-option>
        <mat-option value="Challenging">Challenging</mat-option>
        <mat-option value="Dark">Dark</mat-option>
        <mat-option value="Emotional">Emotional</mat-option>
        <mat-option value="Funny">Funny</mat-option>
        <mat-option value="Hopeful">Hopeful</mat-option>
        <mat-option value="Lighthearted">Lighthearted</mat-option>
        <mat-option value="Mysterious">Mysterious</mat-option>
        <mat-option value="Reflective">Reflective</mat-option>
        <mat-option value="Sad">Sad</mat-option>
        <mat-option value="Tense">Tense</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button (click)="storeBook()" class="button-ex">Store to Database</button>

  </form>

  <br> <br>