
.book-card {
    max-width: 300px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .flex-container {
    display: flex;
  }

  .books {
    list-style-type:none 
  }