
.book-card {
    max-width: 300px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .books {
    list-style-type: none 
  }

  .list {
    display: flex;
    background: white;
    overflow: hidden;
  }