

<mat-form-field class="full-width">
    <mat-label>Genre</mat-label>
    <mat-select [(value)]="Genre" multiple>
      <mat-option value="Classics">Classics</mat-option>
      <mat-option value="Contemporary">Contemporary</mat-option>
      <mat-option value="Fantasy">Fantasy</mat-option>
      <mat-option value="Horror">Horror</mat-option>
      <mat-option value="Literary">Literary</mat-option>
      <mat-option value="Romance">Romance</mat-option>
      <mat-option value="Science Fiction">Science Fiction</mat-option>
      <mat-option value="Young Adult">Young Adult</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Tone</mat-label>
    <mat-select [(value)]="Tone" multiple>
      <mat-option value="Adventurous">Adventurous</mat-option>
        <mat-option value="Challenging">Challenging</mat-option>
        <mat-option value="Dark">Dark</mat-option>
        <mat-option value="Emotional">Emotional</mat-option>
        <mat-option value="Funny">Funny</mat-option>
        <mat-option value="Hopeful">Hopeful</mat-option>
        <mat-option value="Lighthearted">Lighthearted</mat-option>
        <mat-option value="Mysterious">Mysterious</mat-option>
        <mat-option value="Reflective">Reflective</mat-option>
        <mat-option value="Sad">Sad</mat-option>
        <mat-option value="Tense">Tense</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width2">
    <mat-label>Search Title or Author</mat-label>
    <input matInput [(ngModel)]="search" name="search">
  </mat-form-field>

  <ul class="books">
  <tr *ngFor="let currentBook of books$ | async">
    <div *ngIf = tags(currentBook)>
        <div *ngIf = searchTOrA(currentBook)>
            <app-book-card [book] = "currentBook" onload="addABook()"> </app-book-card>
        </div> 
    </div>
  </tr></ul>

  <!--<div *ngIf = getNumBooks()>
    <h1 class="heading">Sorry, no books match your search.</h1>
</div>-->

